version: "3.9"

services:
  mo436:
    build: .
    volumes:
      - ./:/app
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
    runtime: nvidia
    tty: true
    ports:
      - "8888:8888"
